.projects-container {
  margin-top: 50px;
  display: grid;
  gap: 5em 1em;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
