@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;600&display=swap");

$primary: #242038;
$secondary: #8d86c9;
$accent: #d81e5b;
$neutral-gray: #cac4ce;
$lighter-neutral-dray: #d7d2da;
$darker-neutral-gray: #a096a7;
$extra-dark-neutral-gray: #7e7087;
$neutral-beige: #f7ece1;

.large-title {
  margin: 0;
  font-weight: 600;
  font-size: clamp(40px, 8vw, 80px);
}
.secondary-title {
  line-height: 0.9;
  font-weight: 500;
}
