@import "./src/common/styles/globals.scss";

.main-container {
  background-color: $primary;
  height: 100%;
  .page {
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title {
    @extend .large-title;
    color: $secondary;
  }
  .secondary-text {
    color: $neutral-gray;
    @extend .secondary-title;
  }

  .accent-element {
    color: $accent;
    font-size: 1.5em;
  }
}
