@import "./src/common/styles/globals.scss";

.main-background {
  background-color: $primary;
  height: 100vh;

  .title {
    @extend .large-title;
    color: $secondary;
  }
  .secondary-text {
    color: $neutral-gray;
    @extend .secondary-title;
  }

  .accent-element {
    color: $accent;
    font-size: 1.5em;
  }
}
